@font-face {
  font-family: Gotham Pro;
  font-weight: 400;
  src: url(./fonts/gothampro.ttf);
}

@font-face {
  font-family: Gotham Pro;
  font-weight: 500;
  src: url(./fonts/gothampro_medium.ttf);
}

* {
  /* фиксированный размер (нельзя приблизить) */
  -webkit-tap-highlight-color: transparent;

  /* запрет выделение */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  /* скрыть скрол */
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gotham Pro', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  background: #f9f9f9;
  min-width: 100%;
  min-height: 100vh;
}

main {
  position: relative;
}
